<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Application.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Application.Settings>
      <setting name="FlickrUri" serializeAs="String">
        <value>http://api.flickr.com/services/rest/?method=flickr.{operation}&amp;api_key={apiKey}&amp;format=json&amp;nojsoncallback=1</value>
      </setting>
      <setting name="FlickrApiKey" serializeAs="String">
        <value>[Your API Key]</value>
      </setting>
      <setting name="AmazonUri" serializeAs="String">
        <value>http://webservices.amazon.com/onca/xml?Service=AWSECommerceService&amp;SubscriptionId={subscriptionID}&amp;Operation={operation}</value>
      </setting>
      <setting name="AmazonSubscriptionID" serializeAs="String">
        <value>[Your Subscription ID]</value>
      </setting>
    </Application.Settings>
  </applicationSettings>
</configuration>
